body {
    font-family: Arial, sans-serif;
}

main {
    margin-left: 7%;
    margin-right: 7%;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 73vh;
    background-color: #f0f0f0;
    border-radius: 14px;
}

#map-container {
    width: 67%;
    height: 87%;
    border-radius: 4px;
    margin-left: 2%;
    margin-top:3%;
}

#busqueda {
    margin-top: 1%;
    padding: 8px;
    width: 85%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#search-button {
    padding: 8px;
    width: 7%;
    font-size: 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor {
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 14px;
    height: auto;
}

.Informacion, .Imagen {
    width: auto;
    height: auto;
    flex-direction: column; 
}

.Informacion {
    width: 70%; 
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 2%;
}

.Imagen {
    flex-grow: 1; 
    box-sizing: border-box;
}
.img {
    max-width: auto;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.search-input {
    visibility:hidden ;
    padding: 0px;
}

.carrusel {
    position: relative;
    display: inline-block;
}

.Imagen .carrusel img {
    width: auto; 
    height: auto; 
    max-width: 500px; 
    max-height: 355px; 
    display: block; 
    margin: 0 auto; 
}

.sig, .ant {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
    opacity: 0.8;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 2;
    color: white;
}
.barra{
    width: 100;
    height: auto;
    background-color: #f0f0f0;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
#localidades-disponibles{
    padding-left: 2%;
}
.sig {
    left: 0;
}

.ant {
    right: 0;
}

.ayuda {
    margin-top: 2%;
    width: 460px;
    height: 700px;
}
.tienda {
    padding: 20px; /* Añade un relleno alrededor del contenido de cada tienda */
    margin-bottom: 20px; /* Separa visualmente cada tienda */
}

.tienda-imagen {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio asignado */
    max-height: 300px; /* Limita la altura de la imagen */
    border-radius: 8px; /* Bordes redondeados para la imagen */
}